.card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 6px;
  margin: 0;
  background: #fdfdfd;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
}
.card__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card__info {
  display: grid;
  box-sizing: border-box;
  padding-left: 16px;
}

.card__title {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  margin-bottom: 14px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
}

.card__time {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  line-height: 13.31px;
  margin: 0;
  color: #a0a0a0;
  margin-bottom: 14px;
}

.card__image {
  width: 364px;
  height: 203px;
  background-size: cover;
  transition: opacity ease-in 0.2s;
  height: 203px;
  background-image: url(../../images/photo.png);
}

.card__image:hover {
  opacity: 0.8;
}

.card__btn {
  transition: opacity ease-in 0.2s;
  cursor: pointer;
  border: none;
  background: #fff;
  height: 30px;
  width: 30px;
  margin: 0 12px;
  margin-top: 8px;
}

.card__btn:hover {
  opacity: 0.8;
}

.card__btn_type_liked {
  background-image: url("../../images/liked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card__btn_type_check {
  background-image: url("../../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card__btn_type_cross {
  background-image: url("../../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .card__image {
    height: 190px;
    width: 339px;
  }

  .card__info {
    padding-left: 14px;
  }
}

@media screen and (max-width: 500px) {
  .card__image {
    height: 168px;
  }
}

@media screen and (max-width: 400px) {
  .card__image {
    width: 300px;
  }
  .card__title {
    font-size: 12px;
    max-width: calc(100% - 50px);
  }

  .card__time {
    font-size: 10px;
    width: 50px;
  }
}
