.portfolio {
padding-top:91px  !important;
  padding-bottom: 115px;
  color: #000;
}

.portfolio__title {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  width: 100%;
  margin: 0 0 50px;
  color: #8b8b8b;
  mix-blend-mode: normal;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.portfolio__item {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #E6E6E6;;
}

.portfolio__item:last-of-type {
  margin-bottom: 0;
  padding: 0;
  border: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  transition: opacity ease-in-out 0.2s;
  text-decoration: none;
  color:#000;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__name {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 50px;
  margin: 0;
  letter-spacing: -0.04em;
}

.portfolio__icon {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 60px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding-bottom: 90px;
  }

  .portfolio__name {
    font-size: 28px;
  }

  .portfolio__icon {
    font-size: 28px;
  }
}

@media screen and (max-width: 400px) {
  .portfolio {
    padding-bottom: 70px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .portfolio__item {
    padding-bottom: 19px;
  }

  .portfolio__name {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__icon {
    font-size: 18px;
    line-height: 28px;
  }
}
